{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>论坛模板</title>
</head>
<body>
<!-- 导航栏 -->
<div class="navbar">
    <button>主页</button>
    <button>论坛</button>
    <button>关于我们</button>
    <button>联系</button>
</div>

<br>
<br>

<!-- 所有帖子列表 -->
<div class="container">
    {% if post.status %}
        <div class="row row--top-40">
            <div class="col-md-12">
                <h2 class="row__subtitle">铺面详情</h2>
            </div>
        </div>
        <div class="row row--top-20">
            <div class="col-md-12">
                <div class="table-container">
                    <table class="table">
                        <thead class="table__thead">
                        <tr>
                            <!--<th class="table__th"><input id="selectAll" type="checkbox" class="table__select-row"></th>-->
                            <th class="table__th"></th>
                            <th class="table__th">歌曲</th>
                            <th class="table__th">发表日期</th>
                            <th class="table__th">铺面状态</th>
                            <th class="table__th">铺面作者</th>
                            <th class="table__th">铺面下载</th>
                            <th class="table__th">铺面视频</th>
                        </tr>
                        </thead>
                        <tbody class="table__tbody">
                        {% if post.status %}
                            <tr class="table-row">
                                <td class="table-row__td">
                                    <div class="table-row--active"></div>
                                </td>
                                {% else %}
                            <tr class="table-row table-row--red">
                            <td class="table-row__td">
                                <div class="table-row--overdue"></div>
                            </td>
                        {% endif %}
                        <!--<td class="table-row__td">
                          <input id="" type="checkbox" class="table__select-row">
                        </td>-->
                        <td class="table-row__td">
                            <div class="table-row__info">
                                <p class="table-row__name">{{ post.song_name }}</p>
                                <span class="table-row__small">{{ post.song_author }}</span>
                            </div>
                        </td>
                        <td data-column="Policy" class="table-row__td">
                            <div class="">
                                <p class="table-row__policy"></p>
                                <span class="table-row__small">{{ post.pub_date }}</span>
                            </div>
                        </td>
                        {% if post.status %}
                            <td data-column="Policy status" class="table-row__td">
                                <p class="table-row__p-status status--green status">正常</p>
                            </td>
                        {% else %}
                            <td data-column="Policy status" class="table-row__td">
                                <p class="table-row__p-status status--red status">被封禁</p>
                            </td>
                        {% endif %}
                        <td data-column="Destination" class="table-row__td">
                            {{ post.level_author }}
                        </td>
                        {% if post.dl_link %}
                            {% if post.status %}
                                <td data-column="Status" class="table-row__td">
                                    <a href="{{ post.dl_link }}">
                                        <p class="table-row__status status--green status">点击下载</p>
                                    </a>
                                </td>
                            {% else %}
                                <td data-column="Status" class="table-row__td">
                                    <p class="table-row__status status--red status">禁止下载</p>
                                </td>
                            {% endif %}
                        {% else %}
                            <td data-column="Status" class="table-row__td">
                                <p class="table-row__status status--grey status">暂无下载</p>
                            </td>
                        {% endif %}

                        {% if post.vd_link %}
                            <td data-column="Progress" class="table-row__td">
                                <a href="{{ post.vd_link }}">
                                    <p class="table-row__progress status--blue status">点击观看</p>
                                </a>
                            </td>
                        {% else %}
                            <td data-column="Progress" class="table-row__td">
                                <p class="table-row__progress status--grey status">暂无视频</p>
                            </td>
                        {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row row--top-40">
            <div class="col-md-12">
                <h2 class="row__subtitle">抱歉，此铺面已被封禁！</h2>
            </div>
        </div>
    {% endif %}

</div>
</body>
</html>